body {
    background: url(/img/endless-constellation.png);
    color: rgb(0, 0, 0);
}

form {
    max-width: 600px;
    margin: 0 auto;
    margin-right: 30px;
    background-color: #f7ebf4;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #3a4053;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    margin-top: 30px;
    background-color: royalblue;
    /* Botones morados pastel */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.subirArchivo {
    height: 20px;
    background-color: royalblue;
    /* Botones morados pastel para subir archivos */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

table {
    margin-top: 30px;
    margin-left: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #cccccc;
}

.volver-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
}

.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #545478;
    color: #fff;
    border-radius: 5px;
}

.btn-volver:hover {
    background-color: #3a3a5e;
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
}

.contenedor-formulario {
    flex: 1;
    margin-top: 26px;
    margin-right: 30px;
}

.contenedor-tabla {
    flex: 1.5;
    margin-right: 30px;
}

button:hover,
.subirArchivo:hover,
.btn-volver:hover {
    background-color: #5c7cdb;
    color: #ffffff;
}

button#btnBorrar:hover {
    background-color: #d9534f;
    color: #ffffff;
}