* {
    margin: 10px;
}
body {
    background-image: url(/img/endless-constellation.png);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: center;

}

.logoMedia {
    display: block;
    justify-content: center;
    margin-left: 11%;
}

.card {
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: start;
    width: 350px;
    height: 650px;
    color: black;
    margin: 0 auto;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(55px);
}

.btn:hover .icon {
    width: 175px;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}

btn:hover {
    background-color: #040f16;
}

/* Estilos para efectos de animación */
[data-aos] {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.75s;
}

[data-aos].fade-up {
    opacity: 1;
    transform: translateY(0);
}

.links a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 13px;
}

.links {
    background: #040f16;
    max-width: 20%;
    display: none;
    position: absolute;
    top: calc(10%);
    left: 10;

}

.btn:hover+.links,
.links a:hover {
    background-color: #f0edff7c;
}

.desplegable:hover .links {
    display: block;
    z-index: 1000;
}

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 90%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 90%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
  }
/* Media query para dispositivos móviles */
@media only screen and (max-width: 650px) {
    .form {
        width: 90%;
        height: 55%;
        margin: 0 auto;
       
        justify-content: center;

    }
    .links{
        max-width: 40%;
    }   
    .form{
        max-width: 100%;
    }
    .logoMedia {
        margin-bottom: 30px;
        margin-left: 2%;
        width: 100%;
    }   
    .form input{
        margin-left: 0.5%;
    }
    .form textarea {
    margin-left: 0.5%;
    }
}
