/* Estilos generales */
body {
    font-family: 'Anta', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/endless-constellation.png);
    color: #fff;
}

header {
    position: relative;
}

.logoMedia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#contenedor3 {
    max-width: 1100px;
    margin: 0 auto;
}

#contenedor4 {
    max-width: 1100px;
    margin: 30px;
    height: 150px;
}

header {
    padding-top: 20px;
}

nav {
    background: #ffffffda;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    /* Alinea los elementos horizontalmente */
    list-style-type: none;
    /* Elimina los puntos de lista */
    padding: 0;
}

nav ul li {
    display: block;
    padding: 13px 20px;
    margin: 0 5px;
    margin-bottom: 3x;
    /* Espacio entre elementos reducido */
    font-size: 16px;
    /* Reducción del tamaño de fuente para dispositivos más pequeños */
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
    justify-content: center;
    line-height: 15px;
}

nav ul li::after {
    content: '';
    background: #4d4d4d86;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 2;
}

nav ul li a {
    text-decoration: none;
    color: darkmagenta;
}

html {
    scroll-behavior: smooth;
}

.linea {
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100%;
}

section {
    margin-top: 50px;
}

/* Estilos de las tarjetas */
.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: black;
    margin-right: 20px;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card {
    height: 400px;
    width: 250px;
    justify-content: space-between;
}

.card p {
    margin-bottom: 5px;
}

.texto {
    padding: 10px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

btnFlex {
    justify-content: end;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(55px);
}

.btn:hover .icon {
    width: 175px;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}

btn:hover {
    background-color: #040f16;
}

/* Estilos para efectos de animación */
[data-aos] {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.75s;
}

[data-aos].fade-up {
    opacity: 1;
    transform: translateY(0);
}

.links a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 13px;
}

.links {
    background: #040f16;
    max-width: 20%;
    display: none;
    position: absolute;
    top: 34%;
    top: calc(34%);
    left: 0;

}

.btn:hover+.links,
.links a:hover {
    background-color: #f0edff7c;
}

.desplegable:hover .links {
    display: block;
}

@media screen and (max-width: 650px) {
    nav {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding: 10px;
        
    }

    nav ul {
        justify-content: center;
        display: block;
    }

    nav ul li {
        margin: 0 auto;
        display: block;
    }

    .card {
        display: block;
        margin: 10px auto;
        width: 70%;
    }

    .linea {
        margin: 0 auto;
        max-width: 80%;
    }

    header {
        text-align: center;
    }

    #contenedor3,
    #contenedor4 {
        max-width: 90%;
        margin: 0 auto;
    }

    #btn {
        position: relative;
        margin: 20px auto;
        display: block;
    }

    .logoMedia {
        margin-bottom: 30px;
        width: 100%;
    }   

  
    .links{
        max-width: 40%;
    }
}